<%= form_for @step_image, html: { multipart: true } do |f| %>
  <% if @step_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@step_image.errors.count, "error") %> prohibited this step image from being saved:</h2>

      <ul>
      <% @step_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :step_id, value: params[:step_id] %>
  <%= f.hidden_field :pin_id, value: params[:pin_id] %>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>